@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 330px;
  border-radius: 20px;
  padding: 10px;
  position: relative;
}

.cardimg {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-height: 300px;
}

.card:hover {
  margin-top: -8px;
  transition: 0.8s;
}

.card-details {
  background-color: #fff;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.text-name {
  font-size: 18px;
  font-weight: 800;
  color: #222222;
}

.text-location {
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  display: flex;
  align-items: center;
}

.details-button {
  background-color: #c11414;
  color: #fff;
  font-size: 14px;
  font-size: 300;
  border: none;
  width: 150px;
  height: 48px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -60px;
  right: 20px;
}

.show-more-button-container {
  margin-top: 10px;
}

.show-more-button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.show-less-button-container {
  margin-top: 10px;
}

.show-less-button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.line {
  height: 2px;
  background-color: #a71919;
  margin: 4px;
}

.green-circle-border {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #28b15c;
  outline: 7px solid rgba(40, 177, 92, 0.23);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  min-height: 500px;
  overflow: hidden;
}

.modal-text {
  padding: 32px 56px 40px 56px;
}

.modal-content img {
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.modal-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #666;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #3c3c3c;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.close-button span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.close-button span svg {
  width: 20px;
  height: 20px;
  color: #fff;
}

/* css do carrosel */

.carousel-root {
  position: relative;
}

.carousel .slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel .slider-wrapper.axis-horizontal .slider {
  display: flex;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex: 0 0 100%;
  transition: transform 0.5s ease;
}

.carousel .slide img {
  margin: 0;
}

.custom-carousel-next-button {
  bottom: 15px;
  right: 15px;
  position: absolute;
  border: none;
  cursor: pointer;
  background-color: #3c3c3c;
  color: #fff;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
}

.custom-carousel-prev-button {
  bottom: 15px;
  right: 62px;
  position: absolute;
  z-index: 1;
  border: none;
  cursor: pointer;
  background-color: #3c3c3c;
  color: #fff;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 35px;
}

.custom-carousel-button span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* modal-text */
.container-mt-title-and-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.container-mt-title-and-price p {
  margin: 0;
}

.container-mt-title {
  display: flex;
  flex-direction: column;
  font-family: roboto;
}

.container-mt-title h2 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 0px;
}

.text-price {
  font-size: 22px;
  font: normal normal 900 22px/22px Roboto;
  color: #28b15c !important;
  text-align: right;
}

.modal-text .modal-text-locale {
  display: flex;
  flex-direction: row;
  color: #222222;
  gap: 5px;
}

.modal-text .modal-text-locale span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-text .modal-text-locale p {
  margin: 0;
  font-size: 12px;
  color: #222222;
}

.details-container {
  display: flex;
  margin-left: 20px;
}

.details-container ul:last-child {
  margin-left: 20px;
}

.details-column {
  margin-right: 20px;
  list-style-type: disc;
}

.details-column li {
  margin: 0;
  font-size: 12px;
  color: #222222;
}

.container-details {
  margin-top: 34px;
}

.text-apartamento {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 20px 0;
  color: #222;
}
